<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<h1>About Us</h1>
<p>
	<a href="http://twitter.com/c4_online">C4</a> 
	is the brainchild of 
	<a href="http://twitter.com/h0lc0mb">Susan Holcomb</a> 
	and 
	<a href="http://twitter.com/veronikathejoy">Veronika Joy</a>.
	You can follow them on Twitter 
	<a href="http://twitter.com/h0lc0mb">@h0lc0mb</a> 
	and 
	<a href="http://twitter.com/veronikathejoy">@veronikathejoy</a> 
	for thoughts ranging from explosive to inane.
	<p>
		For more information, visit the 
		<a href="http://c4online.com">C4 homepage</a>.
	</p>
</p>