<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Questions, comments, concerns? Get in touch at 
	<a href="mailto:info@c4online.com">info@c4online.com</a>
	 or via 
	<a href="http://twitter.com/c4_online">Twitter</a>.
</p>