<% unless current_user?(@course.user) %>
	<div id="follow_course_form">
		<% if current_user.following_course?(@course) %>
			<%= render 'shared/unfollow_course' %>
		<% else %>
			<%= render 'shared/follow_course' %>
		<% end %>
	</div>
<% end %>