<%= form_for(current_user.relationships.build(followed_course_id: @course.id)) do |f| %>
	<div><%= f.hidden_field :followed_course_id %></div>
	<%= f.submit "Join course", class: "btn btn-large btn-primary" %>
<% end %>