<footer class="footer">
<a href="http://c4online.com">C4</a>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://twitter.com/c4_online">Twitter</a></li>
			<li><a href="http://c4online.com">Company Site</a></li>
		</ul>
	</nav>
</footer>